@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    .deepskyblue-text {
        color: deepskyblue;
    }
</style>

<div class="text-center">
    <h1 class="display-4 deepskyblue-text">Welcome to <br>SkinEmpire</h1>

</div>

<div>
    <img src="~/images/banner.jpg" style="width: 100%;">
</div>
